.header {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding-bottom: 24px;

  &__group {
    display: flex;
    align-items: center;
  }

  &__subgroup {
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }

  &__image {
    display: none;
    z-index: 4;
  }

  &__text {
    &--title {
      padding: 4px 8px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.4px;
      background: linear-gradient(to right, $bright-turquoise, $spring-green);
      border-radius: 4px;
    }

    &--subtitle {
      font-size: 32px;
      line-height: 40px;
      padding: 16px 0 8px 0;
    }

    &--description {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
    }
  }
}

@media (max-width: $md) {
  .header {

    &__group {
      gap: 12px;
      padding-bottom: 24px;
    }

    &__image {
      display: block;
      width: 136px;
      height: 160px;
    }

    &__text {
      &--title {
        padding: 2px 8px;
        font-size: 14px;
      }

      &--subtitle {
        font-size: 28px;
        line-height: 36px;
        padding: 16px 0 8px 0;
      }

      &--description {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        padding-top: 24px;
        border-top: $border-separator;
      }
    }
  }
}
