.footer {
  background-color: $footer-background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 120px;
  z-index: 4;
  position: relative;

  &__image {
    width: 85.39px;
    height: 42px;
  }

  &__copyright {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: $lg) {
  .footer {
    padding: 32px 24px;
    flex-direction: column;

    &__image {
      content: url("../../../assets/footer/company-logo-white-alt.svg");
      padding-bottom: 24px;
      width: 138px;
      height: 20px;
    }

    &__copyright {
      border-top: 1px solid $martinique;
      padding-top: 24px;
      letter-spacing: 0.1px;
    }
  }
}

@media (max-width: $md) {
  .footer {
    &__copyright {
      border-top: 1px solid $martinique;
      padding-top: 24px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

